Source: unity8-desktop-session
Section: misc
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: debhelper (>= 9),
               dh-autoreconf
Standards-Version: 3.9.5

Package: unity8-desktop-session
Architecture: all
Conflicts: ubuntu-desktop-mir
Replaces: unity8-desktop-session-mir (<< 1.0.13)
Breaks: unity8-desktop-session-mir (<< 1.0.13)
Depends: mir-graphics-drivers-desktop,
         qtmir-desktop,
         qtubuntu-desktop,
         ubuntu-app-launch,
         unity-system-compositor,
         unity8,
         url-dispatcher,
         ${misc:Depends}
Suggests: camera-app,
          friends-app,
          gallery-app,
          mediaplayer-app,
          notes-app,
          webbrowser-app
Description: Unity8 desktop session for Mir
 .
 A desktop session running Unity8 on a Mir back end.
 .
 This package is provided for evaluation and demonstration purposes only.

Package: unity8-desktop-session-mir
Depends: unity8-desktop-session (>= 1.0.13),
         ${misc:Depends}
Architecture: all
Priority: extra
Description: transitional dummy package
 This is a transitional dummy package.  It can safely be removed.
