Source: unity8-desktop-session
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Section: misc
Priority: optional
Build-Depends: debhelper (>= 9),
               dh-autoreconf
Standards-Version: 3.9.5
Homepage: https://launchpad.net/unity8-desktop-session
Vcs-Browser: http://bazaar.launchpad.net/~unity8-desktop-session-team/unity8-desktop-session/trunk/files

Package: unity8-desktop-session
Architecture: all
Conflicts: ubuntu-desktop-mir,
#           unity8-session-snap
# Remove conflicts while in development
Replaces: unity8-desktop-session-mir (<< 1.0.13)
Breaks: unity8-desktop-session-mir (<< 1.0.13)
Depends: mir-graphics-drivers-desktop,
         packagekit,
         policykit-unity8,
         qtmir-desktop,
         qtubuntu-appmenutheme,
         qtubuntu-desktop,
         ubuntu-app-launch,
         unity-system-compositor,
         unity8,
         url-dispatcher,
         upstart,
         ${misc:Depends}
Recommends: indicator-transfer,
            qtubuntu-print,
            ubuntu-terminal-app,
            unity-scope-mediascanner2,
            webbrowser-app
Suggests: address-book-app,
          camera-app,
          gallery-app,
          mediaplayer-app
Description: Unity8 desktop session for Mir
 .
 A desktop session running Unity8 on a Mir back end.
 .
 This package is provided for evaluation and demonstration purposes only.

Package: unity8-desktop-session-mir
Depends: unity8-desktop-session (>= 1.0.13),
         ${misc:Depends}
Architecture: all
Section: oldlibs
Priority: extra
Description: transitional dummy package
 This is a transitional dummy package.  It can safely be removed.

Package: unity8-session-snap
Architecture: all
# Conflicts: unity8-desktop-session
# Remove conflicts while in development
Depends: lightdm,
         dbus-user-session,
         mir-graphics-drivers-desktop,
         snapd,
         unity-system-compositor,
         ${misc:Depends}
Description: Unity8 session from a Snap
 Provides the files to setup LightDM to run a Snap based Unity8
 session. It also, as part of it's execution, installs that snap.
 .
 This package is provided for evaluation and demonstration purposes only.

