[Desktop Entry]
Name=Unity8
Exec=unity8-desktop-session
Type=Application
X-LightDM-Session-Type=mir
X-LightDM-Allow-Greeter=true
DesktopNames=Unity:Unity8
